<div class="{{classes.tfooterWrapper}}">
  {{! pagination start }}
  {{#if useNumericPagination}}
    <div class="{{classes.paginationWrapper}} {{classes.paginationWrapperNumeric}}">
      {{partial numericPaginationTemplate}}
    </div>
  {{else}}
    <div class="{{classes.paginationWrapper}} {{classes.paginationWrapperDefault}}">
      {{partial simplePaginationTemplate}}
    </div>
  {{/if}}
  {{! pagination end }}

  {{! pagesize selection start }}
  {{#if showPageSize}}
    {{partial pageSizeTemplate}}
  {{/if}}
  {{! pagesize selection end }}
</div>
